<div class="panel panel-default panel-nav-tabs">
  <div class="panel-heading">
    <ul class="nav nav-tabs" role="tablist">
      {{examples-navbar}}
    </ul>
  </div>
  <div class="panel-body">
    <div class="tabcontent">
      <div role="tabpanel" class="tab-pane active">{{outlet}}</div>
    </div>
  </div>
</div>