$icon-font-path: '/assets/bootstrap/';
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import "justa-table/justa-table-structure";
@import "justa-table/justa-table-appearance";

.panel-nav-tabs {
  .panel-heading {
    padding: 0;
    border-bottom: none;

    ul.nav-tabs {
      padding: 10px 15px 0;
    }
  }
}

.danger-cell {
  background: #554339;
  color: white;
}

.collapsable {
  background: #aaa;

  & td:before {
    content: '👇';
    display: inline-block;
  }

  &.is-collapsed td:before {
    content: '👉';
  }

  &.is-loading td:before {
    animation:spin 1s linear infinite;
  }
}

.sticky-headers {
  th {
    background: rgb(238, 158, 31);
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { transform:rotate(360deg); } }
