$icon-font-path: '/assets/bootstrap/';
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import "justa-table/justa-table-structure";
@import "justa-table/justa-table-appearance";

.panel-nav-tabs {
  .panel-heading {
    padding: 0;
    border-bottom: none;

    ul.nav-tabs {
      padding: 10px 15px 0;
    }
  }
}

.danger-cell {
  animation: blink 1s step-end infinite;
  background: #333;
  color: white;
}

@keyframes blink {
	0% {background-color: #802456}
	50% {background-color: #554339}
}

.basic-header {
  background-color: white;
}

.collapsable {
  background: #aaa;

  & td:before {
    content: '👇';
  }

  &.is-collapsed td:before {
    content: '👉';
  }
}
