{{#if noContent}}
  <h2>No Content</h2>
{{else}}
  {{yield}}
{{/if}}
{{!-- {{#infinity-loader infinityModel=model loadingText="what the"}}
  <table class="table">
    <tr>
      <td>
        <i class="fa fa-refresh fa-spin"></i>
        <span>Loading...</span>
      </td>
    </tr>
  </table>
{{/infinity-loader}} --}}
