<table class="table">
  <thead>
    <tr>
      {{#each columns as |column|}}
        {{component column.headerComponent
          table=table
          column=column
          classNames=column.headerClassNames
          onColumnWidthChange=(action 'columnWidthChanged')}}
      {{/each}}
    </tr>
  </thead>

  {{#vertical-collection
    tagName="tbody"
    itemClassNames=(concat 'table-row ' mergedRowClasses)
    content=table.content
    defaultHeight=rowHeight
    bufferSize=0.5
    alwaysUseDefaultHeight=true
    scrollThrottle=16
    containerSelector=".justa-table"
    as |row|}}

    {{yield row}}

  {{/vertical-collection}}
</table>
