<span class="centered text-center {{if isNotSelected 'cell-not-selected'}}">
  {{#if isYes}}
    {{! TODO: change this to #if hasBlock when on 1.13, fallback to plain yes}}
    {{!-- {{#show-popover popoverContent=view.yesPopover tagName='span' classNames='restriction-yes' action='showMoreDetail' actionType='providerRestriction' actionContent=view.providerRestrictionData}}
      <i class="fa fa-check-circle"></i>
      Yes
    {{/show-popover}} --}}
    {{yield}}

  {{else if isNo}}
    <span class="restriction-no">
      No
    </span>

  {{else}}
    <span>Not selected</span>
  {{/if}}
</span>
