.justa-table {
  width: 100%;
  height: 500px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  tr {
    height: 36px;
  }

  th, td {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    table-layout: fixed;

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

  th {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  th.text-wrap {
    white-space: normal;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  .table-columns-wrapper {
    position: absolute;
    z-index: 2;
  }

  .table-columns {
    overflow-x: auto;
    // overflow-y: auto !important;
    // height: 500px;
    // max-height: 500px;
    position: relative;

    tr {
      background: white;
    }
  }

  .fixed-table-columns-wrapper {
    z-index: 1;

    // hide the fixed-column scroll indicator
    .table-columns {
      overflow-x: hidden;
      -ms-overflow-style: none;
      margin-right: -15px;
    }

    .table-columns::-webkit-scrollbar {
      display: none;
      width: 0 !important;
    }
    // end hide scroll indicator

    table {
      width: calc(100% - 15px);
    }
  }

  .is-collapsed {
    display: none;
  }

  .collapsable.is-collapsed {
    display: table-row;
  }

  .resize-handle {
    position: absolute;
    width: 7px;
    cursor: ew-resize;
    margin-left: -3px;
    z-index: 2;
    height: 100%;
    top: 0;
    right: 0;
  }
}

/*
  Unfortunately, this is necessary to fix sizing issues between fixed/non-fixed
  columns on windows.
*/
// .is-windows .fixed-table-columns-wrapper .scroll-buffer {
//   padding-bottom: 16px;
// }
