<h2 id="title">Justa Table Examples</h2>

<ul>
  <li>
    {{#link-to 'basic-table'}}Basic Table{{/link-to}}
  </li>
  <li>
    {{#link-to 'fixed-column-table'}}Fixed Column Table{{/link-to}}
  </li>
  <li>
    {{#link-to 'infinite-loader-table'}}Infinite Loader Table{{/link-to}}
  </li>
  <li>
    {{#link-to 'collapsable-table'}}Collapsable Table{{/link-to}}
  </li>
  <li>
    {{#link-to 'collapsable-table-with-ajax'}}Collapsable Table with Ajax{{/link-to}}
  </li>
</ul>

{{outlet}}
