<h3>Collapsable Table</h3>

<a href="#" {{action 'toggleExpandAll'}}>Toggle Expand All</a>

{{#justa-table content=model collapsable=true}}
  {{#table-columns as |row|}}

    {{table-column
      row=row
      width=150
      headerName='Name'
      valueBindingPath='displayName'}}

    {{#table-column headerName='Image'}}
      <a href="#">
        <img src={{row.image}} height="32" />
      </a>
    {{/table-column}}

  {{/table-columns}}
{{/justa-table}}
